[submodule "Java_Systems_for_testing/spring-boot"]
	path = Java_Systems_for_testing/spring-boot
	url = https://github.com/spring-projects/spring-boot.git
[submodule "Java_Systems_for_testing/teammates"]
	path = Java_Systems_for_testing/teammates
	url = https://github.com/TEAMMATES/teammates.git
[submodule "Java_Systems_for_testing/apps-android-commons"]
	path = Java_Systems_for_testing/apps-android-commons
	url = https://github.com/commons-app/apps-android-commons.git
[submodule "sunrisesunsetlib-java"]
	path = sunrisesunsetlib-java
	url = https://github.com/mikereedell/sunrisesunsetlib-java.git
[submodule "java_Systems_for_testing/sunrisesunsetlib-java"]
	path = java_Systems_for_testing/sunrisesunsetlib-java
	url = https://github.com/mikereedell/sunrisesunsetlib-java.git
[submodule "Java_Systems_for_testing/sunrisesunsetlib-java"]
	path = Java_Systems_for_testing/sunrisesunsetlib-java
	url = https://github.com/mikereedell/sunrisesunsetlib-java.git
[submodule "Java_Systems_for_testing/TarsosDSP"]
	path = Java_Systems_for_testing/TarsosDSP
	url = https://github.com/JorenSix/TarsosDSP.git
[submodule "Java_Systems_for_testing/sphinx4"]
	path = Java_Systems_for_testing/sphinx4
	url = https://github.com/cmusphinx/sphinx4.git
[submodule "Java_Systems_for_testing/google-maps-services-java"]
	path = Java_Systems_for_testing/google-maps-services-java
	url = https://github.com/googlemaps/google-maps-services-java.git
[submodule "Java_Systems_for_testing/classpy"]
	path = Java_Systems_for_testing/classpy
	url = https://github.com/zxh0/classpy.git
[submodule "Java_Systems_for_testing/scribejava"]
	path = Java_Systems_for_testing/scribejava
	url = https://github.com/scribejava/scribejava.git
[submodule "Java_Systems_for_testing/Generex"]
	path = Java_Systems_for_testing/Generex
	url = https://github.com/mifmif/Generex.git
[submodule "Java_Systems_for_testing/byte-buddy"]
	path = Java_Systems_for_testing/byte-buddy
	url = https://github.com/raphw/byte-buddy.git
[submodule "Java_Systems_for_testing/JCloisterZone"]
	path = Java_Systems_for_testing/JCloisterZone
	url = https://github.com/farin/JCloisterZone.git
[submodule "Java_Systems_for_testing/joauth"]
	path = Java_Systems_for_testing/joauth
	url = https://github.com/twitter/joauth.git
[submodule "Java_Systems_for_testing/javapoet"]
	path = Java_Systems_for_testing/javapoet
	url = https://github.com/square/javapoet.git
[submodule "Java_Systems_for_testing/99-problems"]
	path = Java_Systems_for_testing/99-problems
	url = https://github.com/shekhargulati/99-problems.git
[submodule "Java_Systems_for_testing/java8-the-missing-tutorial"]
	path = Java_Systems_for_testing/java8-the-missing-tutorial
	url = https://github.com/shekhargulati/java8-the-missing-tutorial.git
[submodule "Java_Systems_for_testing/30-seconds-of-java"]
	path = Java_Systems_for_testing/30-seconds-of-java
	url = https://github.com/shekhargulati/30-seconds-of-java.git
[submodule "Java_Systems_for_testing/strman-java"]
	path = Java_Systems_for_testing/strman-java
	url = https://github.com/shekhargulati/strman-java.git
[submodule "Java_Systems_for_testing/tablesaw"]
	path = Java_Systems_for_testing/tablesaw
	url = https://github.com/jtablesaw/tablesaw.git
[submodule "Java_Systems_for_testing/gumshoe"]
	path = Java_Systems_for_testing/gumshoe
	url = https://github.com/worstcase/gumshoe.git
[submodule "Java_Systems_for_testing/SoundSea"]
	path = Java_Systems_for_testing/SoundSea
	url = https://github.com/sacert/SoundSea.git
[submodule "Java_Systems_for_testing/leakcanary"]
	path = Java_Systems_for_testing/leakcanary
	url = https://github.com/square/leakcanary.git
[submodule "Java_Systems_for_testing/picasso"]
	path = Java_Systems_for_testing/picasso
	url = https://github.com/square/picasso.git
[submodule "Java_Systems_for_testing/moshi"]
	path = Java_Systems_for_testing/moshi
	url = https://github.com/square/moshi.git
[submodule "Java_Systems_for_testing/automon"]
	path = Java_Systems_for_testing/automon
	url = https://github.com/stevensouza/automon.git
[submodule "Java_Systems_for_testing/jvm-tools"]
	path = Java_Systems_for_testing/jvm-tools
	url = https://github.com/aragozin/jvm-tools.git
[submodule "Java_Systems_for_testing/BowlerStudio"]
	path = Java_Systems_for_testing/BowlerStudio
	url = https://github.com/CommonWealthRobotics/BowlerStudio.git
[submodule "Java_Systems_for_testing/Java"]
	path = Java_Systems_for_testing/Java
	url = https://github.com/TheAlgorithms/Java.git
[submodule "Java_Systems_for_testing/concurrency-limits"]
	path = Java_Systems_for_testing/concurrency-limits
	url = https://github.com/Netflix/concurrency-limits.git
[submodule "Java_Systems_for_testing/genie"]
	path = Java_Systems_for_testing/genie
	url = https://github.com/Netflix/genie.git
[submodule "Java_Systems_for_testing/JavaVerbalExpressions"]
	path = Java_Systems_for_testing/JavaVerbalExpressions
	url = https://github.com/VerbalExpressions/JavaVerbalExpressions.git
[submodule "Java_Systems_for_testing/jblas"]
	path = Java_Systems_for_testing/jblas
	url = https://github.com/mikiobraun/jblas.git
[submodule "Java_Systems_for_testing/asciimg"]
	path = Java_Systems_for_testing/asciimg
	url = https://github.com/korhner/asciimg.git
[submodule "Java_Systems_for_testing/XChart"]
	path = Java_Systems_for_testing/XChart
	url = https://github.com/timmolter/XChart.git
[submodule "Java_Systems_for_testing/reflections"]
	path = Java_Systems_for_testing/reflections
	url = https://github.com/ronmamo/reflections.git
[submodule "Java_Systems_for_testing/java-callgraph"]
	path = Java_Systems_for_testing/java-callgraph
	url = https://github.com/gousiosg/java-callgraph.git
[submodule "Java_Systems_for_testing/cognitivej"]
	path = Java_Systems_for_testing/cognitivej
	url = https://github.com/CognitiveJ/cognitivej.git
[submodule "Java_Systems_for_testing/language-detector"]
	path = Java_Systems_for_testing/language-detector
	url = https://github.com/optimaize/language-detector.git
[submodule "Java_Systems_for_testing/simplenlg"]
	path = Java_Systems_for_testing/simplenlg
	url = https://github.com/simplenlg/simplenlg.git
[submodule "Java_Systems_for_testing/tape"]
	path = Java_Systems_for_testing/tape
	url = https://github.com/square/tape.git
