[submodule "Java_Systems_for_testing/spring-boot"]
	path = Java_Systems_for_testing/spring-boot
	url = https://github.com/spring-projects/spring-boot.git
[submodule "Java_Systems_for_testing/teammates"]
	path = Java_Systems_for_testing/teammates
	url = https://github.com/TEAMMATES/teammates.git
[submodule "Java_Systems_for_testing/apps-android-commons"]
	path = Java_Systems_for_testing/apps-android-commons
	url = https://github.com/commons-app/apps-android-commons.git
[submodule "sunrisesunsetlib-java"]
	path = sunrisesunsetlib-java
	url = https://github.com/mikereedell/sunrisesunsetlib-java.git
